@font-face {
  font-family: 'fuenteNueva';
  src: url('fuentes/Ethnocentric-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'mathFont';
  src: url('fuentes/cambria-math.ttf') format('truetype');
}



#indexBody{
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Asegura que el body tenga altura */
}
#indexBody::before{
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('imgs/circuito_imagen_back.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(1px);
  z-index: -1;
}


#boxHead{    
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 5px;

  background-color: #575757 ;
  width: 100%;
  height: 120px;
  margin-top: 0;
  align-items: center;
}

#boxHeadTittle{
  display: grid;
  border: 2px solid black;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;

  height: 100%;
  align-items: center;
  font-size: 20px;
  background-color: #2b2b2b;
  color: white;
}
#boxHeadSubtitle{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr;
}


/*bloques de elementos*/
.box{
  border: 2px solid black;  
  overflow: hidden;
  border-radius: 40px 40px 40px 40px;  
  background-color: #828282;
  width: auto;
  margin-top: 10px;
  height: 200px;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  margin: 5px;
  transition:
  box-shadow 0.3s,
  transform 0.3s;
  
  text-align: center;
  position: relative;
  color: red;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.box:hover{
  background-color: black;
  color: white;
}
.box:hover,
.box:focus,
.box:active {
  z-index: 10;  
  box-shadow: 1px 10px 10px -10px rgba(0, 0, 24, 0.5);
  transform: scale(1.2);
  border: 2px solid white
}
/*configuracion de las imagenes de los componentes*/
.box:hover svg line{
  stroke: white;
}
.box:hover svg path{
  stroke: white;
}
.box:hover svg{
  stroke: white;
}

.simbol svg{
  width: 150px;
  height: 140px;
}


/*estilo de los subtitulos en las cajas*/
.subtitulos{
  font-family: nuevaFuente;
}

.parent1{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 4px;
}

.parent2{
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 4px;
}

.linkOtraPagina{
  display: block;  
  text-decoration: none;
} 


/*paginas con la informacion independiente*/
.infoPages{
  background-color: #000000;
}

footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  min-height: 30vh;
  background-color: #2b2b2b;
  color: white;
}
#footerContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

/*estilos para el contenido en cada pagina idependiente de los circuitos*/
#contenido{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  padding: 20px;
}
#subContenido{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
}

.txtInfo{
  font-size: 1.3rem;
  text-align: justify;
}

.grid-image{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.subGridImage{
  width: 100%;
  object-fit: fill;
  object-position: center;
}


