body{
  margin: 0;
}

#boxHead{    
  background-color: grey;
  width: 100%;
  height: 120px;    
}

.box{
  border: 5px;    
  background-color: grey;
  width: auto;
  margin-top: 10px;
  height: 200px;

  text-align: center;
}
.box:hover{
  background-color: black;
  color: white;
}

.parent1{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 4px;
}

.parent2{
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 4px;
}